[submodule "ext/astyle"]
	path = ext/astyle
	url = https://github.com/mmcesim/astyle.git
[submodule "mmcesim-doc"]
	path = doc
	url = https://github.com/mmcesim/mmcesim-doc.git
[submodule "yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/mmcesim/yaml-cpp.git
[submodule "mmcesim-gui"]
	path = gui
	url = https://github.com/mmcesim/mmcesim-gui.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/mmcesim/fmt.git
[submodule "misc/doxygen-awesome-css"]
	path = misc/doxygen-awesome-css
	url = https://github.com/mmcesim/doxygen-awesome-css.git
[submodule "ext/spy"]
	path = ext/spy
	url = https://github.com/mmcesim/spy.git
[submodule "ext/clip"]
	path = ext/clip
	url = https://github.com/mmcesim/clip.git
