[submodule "ext/astyle"]
	path = ext/astyle
	url = https://github.com/mmcesim/astyle.git
[submodule "mmcesim-doc"]
	path = doc
	url = https://github.com/mmcesim/mmcesim-doc.git
[submodule "yaml-cpp"]
	path = ext/yaml-cpp
	url = https://github.com/mmcesim/yaml-cpp.git
[submodule "mmcesim-gui"]
	path = gui
	url = https://github.com/mmcesim/mmcesim-gui.git
