*.mmcesim-cpp linguist-detectable
*.mmcesim-py linguist-detectable
*.mmcesim-m linguist-detectable

*.sim linguist-language=YAML
*.alg linguist-language=YAML
*.mmcesim-cpp linguist-language=C++
*.mmcesim-py linguist-language=Python
*.mmcesim-m linguist-language=MATLAB
